.flip-card {
  background-color: transparent;
  perspective: 1000px;
  font-size: larger;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s;
  animation: shimmy 6s ease-in-out infinite;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  overflow: hidden;
  /* box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2); */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* border: 1px solid rgb(128, 117, 117); */
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* font-size: 50px; */
}

.flip-card-back {
  background-color: rgb(223, 229, 231);
  color: black;
  transform: rotateY(180deg);
}

.untukNama {
  font-weight: bold;

}

.logoWEMEN {
  position: relative;
  /* align-items: center;
  display: flex; */
}

.umnBulet{
  position: absolute;
  top: 80%;
  width: 120%;
  left: 0;
  z-index: 0;
  opacity: 20%;
  margin-left: 5%;
}

.umn img{
  position: relative;
  top: 0;
  width: 50%;
  left: 25%;
  cursor: pointer;
  z-index: 2;
}


.user-image {
  height: 100%;
  border-radius: 1rem;
}

.user-info {
  font-size: medium;
  z-index: 10;
}

.igNih:hover {
  color: #014983;
}

.igNiha {
  font-weight: bold;
}

/* .flip-card-small {
  width: 7rem;
  height: 10rem;
} */


/* @media(max-width:768px) {
  .flip-card {
    width: 15rem;
    height: 20rem;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {

  .text-center-mobile {
    top: 0;
    z-index: 1;
  }
} */

/* References */
.atasin {
  margin-top: 5%;
  /* min-width: 100%; */
}

.bullet {
  content: url('../img/backward.webp');
  width: 20px;
  height: 20px;
  /* margin-left: 10%; */
  /* margin-right: 5px; */
  transform: scaleX(-1);
}

.hyper {
  color: black;
}

.hyper:hover {
  color: orangered;
}

.about {
  color: white;
}

/* .isi {
	position: flex;
	justify-content: center;
	align-items: center;
	z-index: 38;
} */
.isi {
  margin-right: 20%;
  margin-bottom: 5%;
  transform: translate();
}

.isi h1 {
  color: #fff;
  font-size: 45px;
  margin-left: 20%;
  /* position: absolute; */
  letter-spacing: 4px;
  /* transform: translate(-50%, -450%); */
}

@media screen and (max-width:768px) {
  .isi {
    margin-left: 10%;
  }
}

.isi h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1.8px #fff;
}

.isi h1:nth-child(2) {
  color: #fff;
  /* margin-bottom: -50%; */
  animation: animating 4s ease-in-out infinite;
}

@keyframes animating {

  0%,
  100% {
    clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}