#pokeCard {
  left: 0;
  right: 0;
}

.abilities {
  background-color: #00b894;
}

#gbrPoke {
  z-index: 1;
  left: 0;
  right: 0;
  animation: bobbing 3s infinite;
}

#circlet {
  z-index: 0;
  left: 0;
  right: 0;
  animation: spin 2s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes bobbing {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(10px);
  }
}