@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  background-color: white;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.left-content {
  grid-template-columns: repeat(autofit, minmax(200px, 0.5fr));
}

#background {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#background::before {
  content: '';
  background: url('./background.png') no-repeat center center/cover;
  position: fixed;
  /* opacity: 0.8; */
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.karts {
  width: 300px;
  height: 400px;
  background-color: #ffe163;
  border-radius: 15px;
  align-items: center;
  display: flex;
  /* padding: auto; */
  justify-content: center;
}

.alas {
  width: 275px;
  height: 375px;
  background-color: white;
  background-image: url("../src/img/f492fca20f6bf050ad817c30180a31c4.jpg");
  border-radius: 5px;
  /* align-items: center;*/
  flex-direction: column;
  display: flex;
  /* border: 3px solid #000000; */
}

.namaKartu {
  padding-left: 5px;
  font-weight: bold;

}

.gambarPokemon {
  width: 250px;
  height: 130px;
  background-color: white;
  margin-left: 12px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 4px solid;
  border-color: -moz-linear-gradient(45deg, #bdbdbd, #555555);
  border-radius: 5px;
  padding: auto;
}

.karts:hover {
  box-shadow:
    -20px -20px 30px -25px rgb(0, 231, 255),
    20px 20px 30px -25px rgb(255, 0, 231),
    -7px -7px 10px -5px rgb(0, 231, 255),
    7px 7px 10px -5px rgb(255, 0, 231),
    0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

/* Design */
.karts {
  position: relative;
  z-index: auto;
}

.karts:before,
.karts:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: .5;
  mix-blend-mode: color-dodge;
  transition: all .33s ease;
  border-radius: 15px;
}

.karts:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(115deg,
      transparent 0%,
      rgb(0, 231, 255) 25%,
      transparent 47%,
      transparent 53%,
      rgb(255, 0, 231) 75%,
      transparent 100%);
  opacity: .5;
  filter: brightness(.5) contrast(1);
  z-index: auto;
}

.karts:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
    url(https://assets.codepen.io/13471/holo.png),
    linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: auto;
  filter: brightness(1) contrast(1);
  transition: all .33s ease;
  mix-blend-mode: color-dodge;
  opacity: .75;
}

.karts.active:after,
.karts:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}

.karts.active:before,
.karts:hover:before {
  background-image: linear-gradient(110deg,
      transparent 25%,
      rgb(0, 231, 255) 48%,
      rgb(255, 0, 231) 52%,
      transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  border-radius: 15px;
  opacity: .88;
  filter: brightness(.66) contrast(1.33);
  transition: none;
}

.karts.animated {
  transition: none;
  animation: holoCard 12s ease 0s 1;

  /* &:before {
    transition: none;
    animation: holoGradient 12s ease 0s 1;
  }

  &:after {
    transition: none;
    animation: holoSparkle 12s ease 0s 1;
  } */
}

.karts.animated::before {
  transition: none;
  animation: holoGradient 12s ease 0s 1;
}

.karts.animated::after {
  transition: none;
  animation: holoSparkle 12s ease 0s 1;
}

@keyframes holoSparkle {

  0%,
  100% {
    opacity: .75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }

  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(.8) contrast(1.2);
  }

  13%,
  16% {
    opacity: .5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(.8);
  }

  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }

  55% {
    opacity: .33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoGradient {

  0%,
  100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(.5) contrast(1);
  }

  5%,
  9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(.75) contrast(1.25);
  }

  13%,
  17% {
    background-position: 0% 0%;
    opacity: .88;
  }

  35%,
  39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(.5) contrast(1);
  }

  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(.75) contrast(1.25);
  }
}

@keyframes holoCard {

  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }

  5%,
  8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }

  13%,
  16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }

  35%,
  38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }

  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}

@media screen and (max-width: 768px) {

  .karts:before,
  .karts:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: color-dodge;
    transition: all .33s ease;
  }

  .kartu {
    align-items: center;
    /* display: flex; */
    margin-left: 20px;
  }

  .karts {
    width: 300px;
    height: 400px;
    background-color: #ffe163;
    border-radius: 15px;
    align-items: center;
    /* display: flex; */
    /* padding: auto; */
    /* justify-content: center; */

  }

  .dataPokemon {
    font-size: 90%;
    margin-top: 10px;
  }

  .karts:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(115deg,
        transparent 0%,
        rgb(0, 231, 255) 25%,
        transparent 47%,
        transparent 53%,
        rgb(255, 0, 231) 75%,
        transparent 100%);
    opacity: .5;
    filter: brightness(.5) contrast(1);
    /* z-index: -2; */
  }

  .karts:after {
    opacity: 1;
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
      url(https://assets.codepen.io/13471/holo.png),
      linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all .33s ease;
    mix-blend-mode: color-dodge;
    opacity: .75;
  }

  .karts.active:after,
  .karts:hover:after {
    filter: brightness(1) contrast(1);
    opacity: 1;
  }

  .karts.active:before,
  .karts:hover:before {
    background-image: linear-gradient(110deg,
        transparent 25%,
        rgb(0, 231, 255) 48%,
        rgb(255, 0, 231) 52%,
        transparent 75%);
    background-position: 50% 50%;
    background-size: 250% 250%;
    border-radius: 15px;
    opacity: .88;
    filter: brightness(.66) contrast(1.33);
    transition: none;
  }
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}